keys/
dist/
.analysis/
/*.log
/*.err
.novagram.local.ps1
android/novagram-android/local.properties
android/novagram-android/.gradle/
android/novagram-android/**/build/
android/novagram-android/**/.cxx/
desktop/novagram-desktop/out/
desktop/novagram-desktop/Telegram/out/

docs/ROADMAP.md
